page-member-add{
		ion-header{
			padding-left: 0 ;
		}
		 .content-ios{
			 width: 100% !important;
			 left:0 !important;
		 }
		.scroll-content, .fixed-content{
			margin-left: 0;
			width: 100%;
		}
	  .content-row{
	    margin-left: 0;
	    margin-right: 0;
	  }
		.card-ios .item-ios.item-block .item-inner{
			border-bottom: 0.55px solid #EFEFF4;
		}
	  .list-ios > .item-block:first-child{
	    border-top: none;
	  }
	  .list-ios .item-block .item-inner{
	    border-bottom: 0.55px solid #EFEFF4;
	  }
	  .fs_0.8{
	    font-size: 0.8rem !important;
	  }
		.sex-radio{
			.item-ios.item-block .item-inner{
				border-width:0;
			}
		}
		.ion-ios-add-circle{
			font-size: 1.6rem;
			color:#57DC77;
			margin-right: 0.6rem;
		}
		.col{
			padding-bottom: 0;
		}
		.text-input{
			font-size: 1rem;
		}
		ion-label{
			color: #999999 !important;
			font-size: 1rem !important;
		}
		.marr0_4{
			margin-right: 0.4rem;
		}
}
