ion-tabs{
	.tabbar[role='tablist']{
			position: relative;
			display: -webkit-box !important;
		    display: box !important;
		    -webkit-box-orient: vertical ;
		    user-select:none !important;
		    width: 2.5rem;
		    height: 100%;
		    border-top: none;
		    border-right:none;
		    a{
		    	font-size: .6rem;
    			color: black;
    			margin: 1rem 0;
		    }
		    a[aria-selected=true]{
		    	color: white;
		    	background: #2FB8E9;
		    }
	}


}
.fc-tabs{
   .tab-button{
      &>ion-icon{
        font-family:"fc" !important;   /*指定在当前组件中的ion-icon使用的字体名称*/
      }
  }
}