<ion-grid>
	<ion-grid *ngFor="let list of cdcList">
		<ion-card (click)="list.showUseDetail=!list.showUseDetail">
			<ion-card-content text-left>
				<ion-row>
					<ion-col col-8>
						<span class="color_blue" style="font-size:1.05rem">{{list.name}}</span>
					</ion-col>
				</ion-row>
				<ion-row>
					<ion-col col-6 class="pb0">总金额：￥{{list.originPrice}}</ion-col>
					<ion-col col-6 class="pb0">总次数：{{list.productCount}}</ion-col>
					<ion-col col-6 class="pt0">实收金额：￥{{list.payAmount}}</ion-col>
					<ion-col col-6 class="pt0">剩余次数：{{list.restProductCount}}</ion-col>
				</ion-row>
				<ion-row>
					<ion-col class="color_deepgray"><span *ngFor="let item of list.items">{{item.productName}}（{{item.productCount}}）；</span></ion-col>
				</ion-row>
				<ion-row>
					<ion-col><span class="color_gray">办卡日前：{{list.createdTimestamp|date:"y-MM-dd HH:mm:ss"}}</span></ion-col>
				</ion-row>
				<ion-row>
					<ion-col><span class="color_gray">有效期：{{list.expireType==0 ? '长期有效': list.expiredTimestamp | date:"y-MM-dd"}}</span></ion-col>
					<ion-col text-right *ngIf="list.showUseDetail">
						<ion-icon name="arrow-down"></ion-icon>
					</ion-col>
					<ion-col text-right *ngIf="!list.showUseDetail">
						<ion-icon name="arrow-up"></ion-icon>
					</ion-col>
				</ion-row>
			</ion-card-content>
		</ion-card>
		<ion-grid class="color_gray" *ngIf="list.showUseDetail">
			<p class="fs-0.85 pl2">使用详情</p>
			<ion-card class="bgc-gray bor" *ngFor="let conlist of list.consumes">
				<ion-card-content text-left>
					<ion-row>
						<ion-col class="pb0">{{conlist.productName}}</ion-col>
						<ion-col class="pb0">消费：-1</ion-col>
					</ion-row>
					<ion-row>
						<ion-col>2017.06.01&nbsp;13:40:34</ion-col>
						<ion-col>剩余：{{conlist.restProductCount}}</ion-col>
					</ion-row>
				</ion-card-content>
			</ion-card>
		</ion-grid>
	</ion-grid>
</ion-grid>
