page-member {
  .frame-row{
    height: 100%;
    >.col{
      padding: 0;
    }
  }
  .toolbar-background-ios{
    background:white;
    border-bottom: 1px solid #dedede;
  }
  .toolbar-background-md{
    background:white;
    border-bottom: 1px solid #dedede;
  }
  .toolbar-ios ion-title{
    padding-right: 0;
  }
  .content-row{
    margin-left: 0;
    margin-right: 0;
  }
  .toolbar-title-md{
    font-size: 1.2rem;
  }
  .header-md::after{
    background: none;
  }
.header-ios .toolbar-background-ios{
  border-bottom: 1px solid #dedede;
}
  .bor-b-de{
    border-bottom: 1px solid #dedede;
  }
  .dp-ib{
    display: inline-block;
  }
  .search-list{
    padding-top: 0.5rem;
    .label-md{
      margin-top: 0;
      margin-bottom: 0;
    }
    .label{
      text-align: left;
      color:#9B9B9B;
      font-weight: normal;
      font-size: 0.6rem;
    }
    .item-block{
      min-height: 2.4rem;
    }
  }
  .list-title{
    margin-bottom: 0.5rem;
    span{
      color: black;
      margin-right: 1rem;
    }
  }
  .list-ios > .item-block:first-child{
    border-top: none;
  }
  .list-ios .item-block .item-inner{
    border-bottom: 0.55px solid #dedede;
  }

  .member-list{
    padding-top: 0.5rem;
    margin-top: 0;
    .row{
      margin-left: 0;
      margin-right: 0;
    }
    .item-block{
      min-height: 3.4rem;
    }
    .item-ios{
      padding-left: 0;
    }
    .label{
      color:#9B9B9B;
      font-weight: normal;
      font-size: 1rem;
      padding-left: 0;
    }
    .item-block:last-child{
        border-bottom: 0.55px solid #dedede;
      }
    .time{
      font-size: 0.65rem;
    }
  }
  .bor-r-de{
    border-right: 1px solid #dedede;
  }
  .fs_0.8{
    font-size: 0.8rem !important;
  }
  .color_blue{color:#2FB8E9;}
  .color_gray{color:#9B9B9B;}
}
