<ion-header>
  <ion-row>
		<ion-col col-7 class="bor-r p_0">
      <ion-navbar>
        <ion-searchbar *ngIf="isSearch" (ionInput)="getItems($event)" class="f1" [class.animated]="isSearch" placeholder="请输入员工查询" [class.fadeInRight]="isSearch"></ion-searchbar>
        <ion-buttons *ngIf="isSearch" end>
          <button ion-button clear class="search-cansel" (click)="cancelSearch()">取消</button>
        </ion-buttons>

        <ion-title text-center *ngIf="!isSearch">
          <span padding class="ib" (click)="gologin()">会员</span>
        </ion-title>
        <ion-buttons end *ngIf="!isSearch" (click)="openModal()">
          <button ion-button icon-only clear class="f1">
                    <ion-icon ios="ios-add" md="md-add" class="color_blue fw"></ion-icon>
              </button>
        </ion-buttons>
        <ion-buttons end *ngIf="!isSearch" (click)="canSearch()">
          <button ion-button icon-only clear class="f1">
                    <ion-icon name="md-search"></ion-icon>
              </button>
        </ion-buttons>
      </ion-navbar>
		</ion-col>
		<ion-col class="p_0">
			<ion-navbar>
				<ion-title title-center>会员详情</ion-title>
			</ion-navbar>
		</ion-col>
	</ion-row>
</ion-header>
<ion-content>
  <ion-row class="h100">
    <ion-col col-7 class="bor-r h100">
      <ion-row class="content-row h100">
        <ion-col col-4>
          <ion-list no-lines class="search-list">
            <ion-item text-left>最近搜索的会员</ion-item>
            <ion-item text-left>最近新增的会员</ion-item>
            <ion-item text-left>最近预约的会员</ion-item>
            <ion-item text-left>搜索条件一</ion-item>
            <ion-item text-left>搜索条件二</ion-item>
          </ion-list>
        </ion-col>
        <ion-col col-8 class="h100">
          <ion-scroll scrollY="true" class="w100 h100">
            <ion-list class="member-list">
              <ion-item *ngFor="let list of memberList" class="list-title" [ngClass]="{'active':id==list.id}" (click)="getMemberDetail(list.id,list.lastConsumeAt)">
                <ion-row>
                  <span>
                  {{list.name}}
                </span>
                  <span>
                  {{list.phoneNo}}
                </span>
                  <span>
                  {{list.level.name}}
                </span>
                </ion-row>
                <ion-row text-left class="time">
                  上次消费时间：{{list.lastConsumeAt==0?'':list.lastConsumeAt | date:"y-MM-dd"}}
                </ion-row>
              </ion-item>
            </ion-list>
          </ion-scroll>
        </ion-col>
      </ion-row>
    </ion-col>
    <ion-col col-5>
      <page-member-detail *ngIf="memberInfo"  [memberInfo]="memberInfo" [isJump]="false"></page-member-detail>
      <div *ngIf="!memberInfo" class="right-content">
        <div class="no-content-wrapper" text-center>点击左边会员查看会员信息</div>
      </div>
    </ion-col>
  </ion-row>
</ion-content>
