page-member {
  .frame-row{
    height: 100%;
    >.col{
      padding: 0;
    }
  }
  .content-row{
    margin-left: 0;
    margin-right: 0;
  }

  .search-list{
    padding-top: 0.8rem;
    .label-md{
      margin-top: 0;
      margin-bottom: 0;
    }
    .label{
      text-align: left;
      color:#999999;
      font-weight: normal;
    }
    .item-block{
      min-height: 2.4rem;
    }
  }
  .list-title{
    span{
      color: black;
      margin-right: 1rem;
    }
  }
  .list-ios > .item-block:first-child{
    border-top: none;
  }
  .list-ios .item-block .item-inner{
    border-bottom: 0.55px solid #EFEFF4;
  }

  .member-list{
    padding-top: 0.5rem;
    margin-top: 0;
    .item:hover{
      background-color:#F6F6F6;
    }
    .row{
      margin-left: 0;
      margin-right: 0;
    }
    .item-block{
      min-height: 3.4rem;
    }
    .item-ios{
      padding-left: 0;
    }
    .label{
      color:#999999;
      font-weight: normal;
      font-size: 1rem;
      padding-left: 0;
    }
    .item-block:last-child{
        border-bottom: 0.55px solid #EFEFF4;
      }
    .time{
      font-size: 0.85rem;
    }
  }
  .fs_0.8{
    font-size: 0.8rem !important;
  }
}
