page-member-detail {
  .toolbar-background-md{
    background:white;
    border-bottom: 1px solid #C8C7CC;
  }
  .label{
    text-align: left;
    font-weight: normal;
    font-size: 0.85rem;
  }
  .header-md::after{
    background: none;
  }
  .toolbar-title-md{
    font-size: 1.2rem;
  }
  .item-md p{
    font-weight: normal;
    font-size: 1rem;
  }
  .item-ios h2{
    color: #4A4A4A;
    font-size: 1.9rem;
    font-weight: 600;
  }
  .member-info{
    padding-top: 1.5rem;
    .item-ios{
      padding-left: 30px;
    }
    .item-ios p{
      font-size: 1rem;
      color: black;
    }
    .item-ios{
      border-bottom: none !important;
    }
  }
  .member-detail{
      padding-left: 30px;
    .row{
      margin-bottom: 0.3rem;
    }
  }
  .cost-data{
    margin-top: 1.5rem;
    margin-left: 0;
    margin-right: 0;
    font-size: 0.9rem;
    color: #999999;
    border-top: 1px solid #EFEFF4;
    border-bottom: 1px solid #EFEFF4;
    .col{
      padding-top: 1rem;
      padding-bottom: 1rem;
    }
    p{
      margin-top: 0px;
      margin-bottom: 0px;
    }
  }
  .cost-data-div{
    padding-left: 16px;
    padding-right: 16px;
  }
  .bor-r-de{
      border-right: 1px solid #EFEFF4;
  }
  .item-md ion-avatar img{
    width: 4rem;
    height: 4rem;
  }
  .dp-ib{
    display: inline-block;
  }
  .list-ios > .item-block:first-child{
    border-top: none;
  }
  .list-ios > .item-block:last-child{
    border-bottom:1px solid #EFEFF4;
  }
  .card-list{
    padding-left: 16px;
    padding-right: 16px;
    margin-top: 4rem;
    .item:hover{
      background-color: #F6F6F6;
    }
    .item-block{
      min-height: 3.4rem;
    }
    ion-icon{
      font-weight:bold;
      min-height: 2.3rem;
      font-size: 2.3rem;
      color: $color-g-blue;
    }
    .label{
      font-size: 1rem;
    }
    .item-ios{
      padding-left: 0;
    }
  }
}
