// http://ionicframework.com/docs/theming/
@import '../assets/css/iconfont.scss';
::-webkit-scrollbar {
  display: none !important;
}
html{
	font-size: 20px;
}

body{
	font-size:1rem;
}

p{
  margin-top: 0;
  margin-bottom: 0;
}
.dnd-drag-start {
  -moz-transform:scale(0.8);
  -webkit-transform:scale(0.8);
  transform:scale(0.8);
  opacity:0.7;
  border: 2px dashed #000;
}

.dnd-drag-enter {
  opacity:0.7;
  border: 2px dashed #000;
}

.dnd-drag-over {
  border: 2px dashed #000;
}

.dnd-sortable-drag {
  -moz-transform:scale(0.9);
  -webkit-transform:scale(0.9);
  transform:scale(0.9);
  opacity:0.7;
  border: 1px dashed #000;
}

ion-tabs .tabbar[role='tablist']{
  border-right:1px solid #C7C8CC;
  width: 3.7rem !important;
}
.tabs-ios .tab-button[aria-selected=true] .tab-button-icon{
  color: white;
}
.scroll-content, .fixed-content{
  margin-left: 3.7rem;
  width: calc(100% - 3.7rem);
  margin-bottom:0 !important;
}
.tabs-ios .tabbar{
  background-color: #F2F3F4;
}
.tab-button{
    display: inline-block;
    width: 100%;
    height: 60px;
}
.item-ios p{
  font-size: 0.85rem;
}
.item-ios h2{
  font-size: 1.4rem;
}
.card-content-ios{
  font-size: 0.85rem;
}
.back-button-icon-ios{
  font-size: 1.5rem;
  color:#2FB8E9;
}
.back-button-ios{
  min-height: 2.2rem;
}
ion-app.ios{
  font-size: 0.85rem;
}
.toolbar-ios{
  padding-right: 0rem;
  padding-top: 0;
  padding-bottom: 0;
}
ion-header{
  padding-left: 3.7rem;
}
// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.
