<div class="dk-bookingContent h100">
  <div class="control-btn ub ub-pc" (click)="collapse($event);">
    <i class="fc fc-left ub ub-ac"></i>
  </div>
  <div class="calendar ub" >
    <div class="calendar-col-time ub ub-ver">
      <div class="calendar-unit-time ub ub-ver" *ngFor="let item of timePeriod">
        <div class="ub ub-pe ub-ae">{{item.name}}</div>
      </div>
    </div>
    <div class="calendar-col first-col ub ub-ver" *ngFor="let bedList of bed">
      <div class="calendar-title ub ub-ac ub-ver">
        <div class="ub">{{bedList.name}}</div>
        <div class="ub">{{bedList.number}}</div>
      </div>
      <div class="calendar-col-content">
        <div class="calendar-unit" *ngFor="let item of timePeriod" (click)="openModel({charNum: 0});">
          <div></div>
          <div></div>
        </div>
      </div>
    </div>

  </div>

  <gridster [options]="options" style="    position: absolute;
    top: 4rem;
    left: 4rem;
    z-index: 111; background-color: rgba(111,111,111,0.5);">
    <gridster-item [item]="item" *ngFor="let item of dashboard">
      <div class="button-holder">
        <div class="item-buttons" *ngIf="item.hasContent">
          <button md-icon-button md-raised-button class="drag-handler">
            <md-icon>open_with</md-icon>
          </button>
          <button md-icon-button md-raised-button class="remove-button" (mousedown)="removeItem($event, item)"
                  (touchstart)="removeItem($event, item)" mdTooltip="Remove">
            <md-icon>clear</md-icon>
          </button>
        </div>
        <label *ngIf="!item.hasContent">{{item.label}}</label>
        <button md-mini-fab *ngIf="!item.hasContent" (mousedown)="removeItem($event, item)"
                (touchstart)="removeItem($event, item)" mdTooltip="Remove">
          <md-icon>clear</md-icon>
        </button>
      </div>
    </gridster-item>
  </gridster>
</div>
