<ion-header>
  <ion-row>
    <ion-col col-5 class="bor-r p_0">
      <ion-navbar>
        <ion-title text-center>
          <span padding class="dp-ib">店内员工</span>
        </ion-title>
      </ion-navbar>
    </ion-col>
    <ion-col class="p_0">
      <ion-navbar>
        <ion-title title-center *ngIf="type=='sdc'">储蓄卡</ion-title>
        <ion-title title-center *ngIf="type=='cbc'">套餐卡</ion-title>
        <ion-title title-center *ngIf="type=='edit'">编辑会员</ion-title>
      </ion-navbar>
    </ion-col>
  </ion-row>
</ion-header>
<ion-content class="tab-home-artboard-page">
  <ion-row class="h100 frame-row">
    <ion-col col-5 class="p_0 bd_rt h100">
      <page-member-detail [memberInfo]="memberInfo" [isJump]="true" [type]="type" (outType)="clickCardList($event)"></page-member-detail>
    </ion-col>

    <ion-col col-7 class="p_0 bgc-gray h100" style="padding-bottom:3rem;">
      <ion-scroll scrollY="true" class="h100">
        <page-member-sdc [hidden]="type!='sdc'" [prepaidCards]="memberInfo.prepaidCards"></page-member-sdc>
        <page-member-cbc *ngIf="type=='cbc'" [id]="memberInfo.id"></page-member-cbc>
        <page-member-edit [hidden]="type!='edit'"></page-member-edit>
      </ion-scroll>
    </ion-col>
  </ion-row>
</ion-content>
