page-member-info{
		.frame-row{
	    height: 100%;
	    >.col{
	      padding: 0;
	    }
	  }
	  .content-row{
	    margin-left: 0;
	    margin-right: 0;
	  }
	  .list-ios > .item-block:first-child{
	    border-top: none;
	  }
	  .list-ios .item-block .item-inner{
	    border-bottom: 0.55px solid #EFEFF4;
	  }


	  .fs_0.8{
	    font-size: 0.8rem !important;
	  }

}
